{% extends 'layout.html' %}

{% block title %}Training{% endblock %}

{% block content %}

<main class="container">

      <h1 class="heading">IT Career Hub</h1>
      <p class="description">
        Welcome to the IT Career Hub! Explore resources to help you succeed in
        your IT journey.
      </p>
      <p style="font-size: medium">
        This website is designed to be your central hub for navigating the world
        of IT careers. Here, <br />you can monitor your Student Progress and
        Status in your chosen IT domains. <br />
        We provide clear insights into your learning journey, helping you track
        your achievements and identify <br />
        areas for growth. We also offer comprehensive resources about various IT
        domains, giving you the information <br />
        you need to make informed decisions about your career path. And to help
        you put your best foot <br />forward, our Resume Builder tool allows you
        to create professional,<br />
        compelling resumes that showcase your skills and experience.
      </p>

      <div class="link-card-container">
        <a href="status.html" class="link-card">
          Student Progress and Status
        </a>
        <a href="resume.html" class="link-card"> Resume Builder </a>
        <a href="mainpg.html" class="link-card"> IT DOMAINS </a>
      </div>

      </main>
    {% endblock %}